header {
  width: 100%;
  background-color: #2f4f4f;
}

header p {
  text-align: left;
  padding: 5px;
  color: #ffffff;
}

.weblog_img {
  height: 100%;
  width:100%;
}

footer {
  width: 100%;
  background-color:#2f4f4f;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}
